.overall-container {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-card);
    border-radius: 20px;
    padding: 40px;
    width: 90%;
    max-width: 450px;
    box-shadow: var(--card-box-shadow);
}

.lock {
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    background-color: #eef2ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.muted {
    color: var(--muted-text);
    font-size: small;
}

.sub-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    margin-left: 4px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    color: var(--muted-text);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

form {
    width: 100%;
}

input {
    width: 100%;
    padding: 12px 16px 12px 40px;
    font-size: 15px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    background-color: var(--bg-input);
    transition: all 0.2s;
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

input:focus {
    background-color: white;
    border-color: var(--primary-color);
}

.btn-primary {
    width: 100%;
    padding: 14px;
    background-color: var(--primary-color);
    color: var(--primary-text);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all 0.2s;
}

.btn-primary:hover {
    background-color: var(--primary-hover);
}

.btn-primary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.arrow-right {
    transition: all 0.3s;
}

.btn-primary:hover .arrow-right {
    transform: translateX(8px);
}

.line {
    width: 100%;
    border: 1px solid #e5e7eb;
}

.create-account {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
}

.create-account:hover {
    text-decoration: underline;
}

.credentials {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.demo-header {
    font-size: 10px;
    font-weight: 700;
}

.users {
    background-color: var(--bg-input);
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
    font-size: 10px;
    border: 1px solid #e5e7eb;
    cursor: pointer;
}

.users:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.demo {
    border-right: 1px solid #e5e7eb;
    padding-right: 10px;
}

.credentials-header {
    text-align: center;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.error {
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgb(243, 39, 39);
    background-color: rgba(239, 184, 184, 0.699);
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 13px;
    border: 1px solid rgba(255, 0, 0, 0.686);
    transition: all 0.2s;
}