.modal-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    backdrop-filter: blur(10px);
}

.modal-container {
    background-color: var(--bg-card);
    width: 90%;
    max-width: fit-content;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #eeeeeea8;
}

.modal-header span {
    color: var(--primary-color);
    font-weight: 700;
}

.modal-header .close {
    color: var(--muted-text);
    cursor: pointer;
}

.modal-header .close:hover {
    transform: scale(110%);
    color: var(--card-text);
}

.create-select {
    width: 100%;
    border: 1px solid var(--border-input);
    border-radius: 5px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    font-size: 1rem;
    padding: .6rem 0;
}

.create-select:focus {
    background-color: white;
    border-color: var(--primary-color);
}

textarea {
    resize: none;
    width: 100%;
    border: 1px solid var(--border-input);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    outline: none;
    padding: 4px;
    border-radius: 5px;
}

textarea:focus {
    background-color: white;
    border-color: var(--primary-color);
}

.create-request-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    overflow-y: auto;
}

.btns {
    display: flex;
    justify-content: end;
    gap: .5rem;
}

.btns button {
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.cancel-btn {
    border: 1px solid var(--muted-text);
    background-color: var(--bg-color);
}

.create-btn {
    border: none;
    background-color: var(--primary-color);
    color: var(--bg-card);
}

.create-btn:hover {
    background-color: var(--primary-hover);
}

.create-request-form input {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    background-color: var(--bg-card);
    border-radius: 5px;
    padding: .6rem 0;
    font-size: 1rem;
}