.header-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-card);
    padding: 12px 24px;
    position: sticky;
    top: 0;
}

.header-title {
    color: var(--primary-color);
}

.header-right {
    display: flex;
    gap: 2rem;
}

.sub-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
    font-weight: 400;
    cursor: pointer;
}

.role {
    color: var(--muted-text);
    font-size: .75rem;
}

.logout-container {
    display: flex;
    align-items: center;
}

.logout {
    color: var(--primary-color);
}

.logout:hover {
    color: var(--primary-hover);
    cursor: pointer;
}

@media (max-width: 500px) {
    .username {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70px;
    }
}